{
	"arrowParens": "avoid",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"printWidth": 120,
	"proseWrap": "always",
	"quoteProps": "as-needed",
	"semi": false,
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 2
}
